

.headpart{
  
  height: 15vh;
  align-items: center;
}

.part1-style{
  align-items: center;
  overflow: auto;
  color: white;
  
 

}
.image-style{
  align-items: center;
}
.Body-style{
  

  background-color: rgb(28, 164, 237);
  height: 70vh;

}

@media screen and (max-width:500px) {
  .Body-style{
   width: 80%;

  }
  
  
}